<div class="container">
  <div class="row">
  <%= for video <- @videos do %>
    <div class="col-md-4">
      <h4><%= video.title %></h4>
      <p><%= video.description %></p>
      <p><a class="btn btn-default" href="<%= watch_path(@conn, :show, video) %>" role="button">Watch and Comment &raquo;</a></p>
    </div>
  <% end %>
  </div>
</div>
